@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}
html, body {
    height: 100vh; /*Aqui estamos usando 100% da altura total do navegador */
    width: 100vw; /* aqui será a largura total*/
    background-color: black;
    
}
body{
    /* consigo escolher a posição da imagem de fundo, aqui no caso eu coloquei do topo para baixo e no centro.*/
    background: url('../imagens/fundo\ madeira.jpg') no-repeat top center;
    background-size: cover; /* 'cover' serve para a nossa imagem que esta no background cobrir a tela inteira*/

}
/* O elemento <main> define o conteúdo principal dentro do <body> em seu documento ou aplicação. Entende-se como conteúdo principal aquele relacionado diretamente com o tópico central da página ou com a funcionalidade central da aplicação*/
main {
position: relative;
height: 100vh;



}
/* quando usamos o ID em alguma tag nós executamos o css dele aqui, ou seja, é aqui que nós vamos dar estilo e fazer alterações na nossa tag, aqui no caso colocamos em nossa saction */
#telefone {
    /* a posição absolute nos da a opção de mexer o nosso conteúdo, aqui no caso nós vamos centralizar ele, vamos usar a tag TOP 50% e a left 50%, porém essa parte que no momento esta azul no nosso site vai para o canto inferior direito, que é na parte de baixo do lado direito, para conseguir arrumar isso vamos colocar 50% para o lado oposto de ambos, colocando 50% - pra cima e 50- pra esquerda usando a tag transform: translate(-50%, -50%);
    Perceba que o MAIN é o conteúdo do lado de fora e está verde e o nosso conteúdo selector#telefone é o azul de dentro.
    Quando colocamos uma foto ou arquivo no nosso site, os ".." dois pontos serve para voltarmos uma página, aqui por exemplo estamos no style.css que está dentro da passa de estilos, então fivemos que voltar uma pasta e entrar na pasta de imagens para adicionar nossa foto, veja abaixo a tag.
     background: url('../imagens/frame-iphone.png');
*/ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 512px;
    width: 512px;    
    background: url('../imagens/frame-iphone.png') no-repeat;
    
}
iframe#tela {
    position: relative;
    top: 55px;
    left: 129px;
    width: 253px;
    height: 392px;
    /* Aqui é a nossa configuração do iframe, nós criamos o home.html para essa configuração ser possivel, executamos ela dentro iframe, ou seja, o home.html está dentro do index.html graças ao iframe.*/

}
#redes-sociais {/* Criamos essa tag porque queremos mover o conteúdo que está na nossa section redes sociais, a de baixo está também configurando a tag img e não queremos isso. Colocamos text aling rigth para nosso conteúdo ficar ao lado direito da tela.*/
    text-align: right;

}
#redes-sociais img {
    /*aqui estamos configurando os nossos logos, peguei os logos da internet, porém esses logos est~so muito grandes, então coloquei width 50px, quando vc configura apenas a largura automaticamente a altura também fica do mesmo tamanho, ou seja, 50x50*/
width: 50px; 
margin: 10px;
border-radius: 30%; /*essa tag serv para arredondar nosso conteúdo, no caso é nossos logos*/
box-shadow: 1px 1px 3px #b39b9b;
box-sizing: border-box; /* colocamos um efeito com o hover para quando passar o mouse em cima ter uma animação, porém todos estão se movendo quando passa o mouse por cima do primeiro por exemplo, como se todos estivessem se movendo juntos,colocando essa tag a borda ira fazer parte de cara objeto, ou seja, de cada logo, como se estivessem soltos agora.A borda agora faz parte da caixa.*/
}
#redes-sociais img:hover {
    /* Essa tag hover ela serve para quando passar o mouse por cima da nossa imagem ou link as configurações colocadas aqui dentro apareção, exemplo: eu passsar o mouse por cima do link e ele ficar azul, ou atpe mesmo com a letra maior. */
    border: 2px solid rgb(238, 234, 234); 
    transform: translate(-8px,-8px); /* essa tag faz com que a nossa caixa se mova, se for negativo ira mover para o lado oposto. O primeiro valor é para esqueda ou direita, o segundo é para baixo ou para cima ou para baixo. se o primeiro valor foir positivo ele vai pra direita, se for negativo vai para esquerda, já o segundo valor, se for positivo vai para baixo e negativo para cima.*/
    box-shadow: 5px 5px 5px black;
    transition: .5s, border 1s, box-shadow 2s; /*essa tag serve para fazer com que toda essa configuração que fizemos no hover da tag img demora 1 segundo para acontecer. aqui no caso deixei o 0.5, poré só funciona se eu coloca apenas o '.5s'  podemos tbm alterar o tempo que a borda irá aparecer, ou até mesmo do box-shadow entro outros*/

}

#youtube:hover {
    
}

    